.bg0 {background-color:#FAFAD2;}
.bg1 {background-color:yellow;}
.bg2 {background-color:#66FFFF;}
.bg3 {background-color:white;}
.bg4 {background-color:#66FFFF;color:black;font-weight:bolder}
.bg5 {background-color:#66FFFF;color:black;}